<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>If you don't adjust your seat belt properly, its ability to protect you in a crash won't be as reliable. 
    These days, seat belts with shoulder straps are standard in new cars. 
    However, if you're in an older car or an airplane, you'll have to adjust a seat belt that goes only 
    across your lap. If you're caring for a child, you'll have to adjust a seat belt with a car seat. 
    Regardless of your situation, taking a few extra minutes to put on a seat belt properly can literally be a life saver!</p>

    <h2>I am a potato</h2>
    
    <ul>
        <li>All work and no play make bary...Something Something</li>
        <li>All work and no play make bary...Something Something</li>
        <li>All work and no play make bary...Something Something</li>
        <li>All work and no play make bary...Something Something</li>
        <li>All work and no play make bary...Something Something</li>
        <li>All work and no play make bary...Something Something</li>
        <li>All work and no play make bary...Something Something</li>
        <li>All work and no play make bary...Something Something</li>
        

</body>
</html>