<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>Theres words that go in here, interesting</p>

        <h2>Favourite fish</h2>

        <ul>
            <li>Small fish</li>
            <li>Medium fish</li>
            <li>Large fish</li>
        </ul>

        <img src="https://www.thesprucepets.com/thmb/ENdb7NTUPvdI4ePIkkbLcQvktdg=/3888x2592/filters:fill(auto,1)/2687804310_09bb676d58_o-5beb9f6546e0fb0026a5f66c.jpg" alt="Its a fish"/>
    </body>
</html>